.body
{
    height: calc(100vh - 84px);
    display: flex;
    gap: 0.4em;
    padding: 0em 0.5em 0em 0.5em ;
    font-weight: bold;
    color: white;
}

/* -------------- Left part----------------------- */

.left
{
    background-color: #202020;
    width: 17vw;
    min-width: 9.5em;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    position: relative;
    
}
/* -------------- Right part----------------------- */

.right
{
    background-color: #202020;
    width: 83vw;
    border-radius: 1em;
    padding: 1em;

}

/* -------------- Library heading in the left part----------------------- */
.library
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add
{
    flex-shrink: 0;
}

.image
{
    display: inherit;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
}


footer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.9em;
    font-size: 0.8em;
    position:absolute;
    bottom: 5em;
}

footer a 
{
    color: rgb(85, 84, 84);
}





